<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" style="text-align:center">
    <br><br><br>
    <h3>Updated successfully!!!</h3>
    <br><br><br>
    <hr>
    <h4><a th:href="@{/students/showMyPage}">Go back to MyAccount</a></h4>
</div>

</body>
</html>